.reset {
  text-decoration: none;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  appearance: none;
  color: #fff;
}

.button {
  text-decoration: none;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  appearance: none;
  margin: 5px;
  border: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 500;

  background-color: rgba(240, 98, 146, 0.8);
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all 0.4s;
}

.button:hover {
  background-color: rgba(240, 98, 146, 1);
}
