.filter {
  text-decoration: none;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 500;

  box-shadow: 0 0 0 1px rgba(240, 98, 146, 1);
  background-color: #FFF;
  /* background-color: rgba(240, 98, 146, 0.8); */
  color: rgba(240, 98, 146, 1);
  padding: 15px 20px;
  border-radius: 5px;
  transition: all 0.4s;
}

.activeFilter {
  background-color: rgba(240, 98, 146, 1);
  color: #FFF;
}

/*
.button:hover {
  background-color: rgba(240, 98, 146, 1);
}
*/

