.singleGoal {
  display: flex;
  flex-direction: column;
}

.singleGoalImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.singleGoalContent {
  display: flex;
  justify-content: center;
}

.singleGoalInnerContent {
  padding: 20px;
  box-shadow: 0 0 0 1px #f48fb1;
  margin-top: -80px;
  width: 80%;
  z-index: 1;
  border-radius: 5px;
  background-color: #fff;
}

.singleGoalName {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 500;
}

.singleGoalDescription {
  font-size: 22px;
  margin-bottom: 30px;
}

.bottomButton {
  margin-left: 15px;
}

.bottomContent {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.progressContent {
  display: flex;
  align-items: center;
}

.progressBar {
  width: 200px;
  margin-left: 20px;
}


.singleGoalButtons button {
  margin-left: 15px;
}

.singleGoalPoints {
  width: 100%;
  font-size: 18px;
}

.singleGoalPoints > div {
  margin-bottom: 10px;
}

.success {
  color: #7dbd32;
  font-weight: 700;
}

.danger {
  color: #d50000;
  font-weight: 700;
}

.importantNumber {
  font-weight: 700;
}